.card {
    height: fit-content !important;
}

.card-header {
    display: flex;
    justify-content:center;
    align-items: center;
}

.card-title.h5 {
    margin: 0;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}